<div class="todo-container">
  <mat-form-field class="full-size__input">
    <mat-label>Please enter a new task</mat-label>
    <input type="text" matInput [(ngModel)]="newTodo">
    <button mat-button *ngIf="newTodo" matSuffix (click)="addTodo()">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </mat-form-field>

  <app-todo-list [todos]="todos$ | async" (todoModified)="checkTodo($event)"></app-todo-list>
</div>
