/* You can add global styles to this file, and also import other style files */
@import 'styles/main';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  text-align: center;

  &.full-size {
    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }
}
